@import url('https://fonts.google.com/specimen/Montserrat?query=montserrat');

/* Resto de tus estilos */

/* Estilos del contenedor que envuelve todos los items */
.formContainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px; /* Bordes suavizados */
    background: #aad0c9;
  }
  
  /* Estilos del título */
  .formTitle {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Estilos del botón */
  .button {
    align-content: center;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 20px;
    
  }
  
  /* Estilos del input y textarea */
  .inp {
    width: 50%;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 10px;
    
  }
  
  /* Estilos del checkbox */
  .cont {
    display: inline-block; /* Hacer que los elementos aparezcan en línea */
    margin-right: 10px; /* Espacio entre checkbox y etiqueta */
    margin-bottom: 5px;
  }
  
  .check {
    margin-right: 5px;
  }
  
  /* Estilos de la línea horizontal */
  hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #436b66;
  }
  