@import url('https://fonts.google.com/specimen/Montserrat?query=montserrat');

.container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-image: url("https://images.pexels.com/photos/1128678/pexels-photo-1128678.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    opacity: 0, 3;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

.buttonstart {
    position: absolute;
    left: 120px;
    bottom: 100px;
}

.button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: transparent;
    border-radius: 16px;
    padding: 8px;
    width: 100px;
    height: 30px;
    color: #05130b;
    border: 3px solid #537b7f;
    transition: all .3s ease-in-out;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 100px;
    justify-content: space-around;
}

.button:hover {
    box-shadow: 5px 5px 5px 5px rgba(58, 113, 100, 0.765)
}

.destitle {
    box-shadow: 10px 5px 10px 10px rgba(58, 113, 100, 0.765);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #909797;
    letter-spacing: 0px;
    word-spacing: 2px;
}

.des {
    margin-left: 20px;
    position: absolute;
    left: 35%;
    bottom: 300px;
    transform: translateX(-50%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    letter-spacing: 0px;
    word-spacing: 2px;
    color: #0b0c0c;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    margin-bottom: 50px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(132, 130, 162), 0 0 5px rgb(82, 123, 25);
}

.cont {

    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-right: 45%;
    padding: 15px;
    opacity: 0, 7;
}

.nombre {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}